Repository ai4er-cdt/geograph, pull requests merged in 2021-02, with the labels that each got.

#24 Feature/graph analysis loading
  .gitignore
  src/data_loading/rasterio_utils.py
  src/data_loading/vector_utils.py
  src/models/geograph.py
  src/models/geotimeline.py
Labels: kind: feature

#30 Feature/graph-analysis-visualisation
  src/models/visualisation.py
Labels: concerns: GeoGraph, concerns: user-interface

#31 Feature/graph analysis add_habitat function and get_graph_components function
  requirements/dev-requirements.txt
  src/models/geograph.py
Labels: concerns: GeoGraph, concerns: model, kind: feature

#32 Feature/graph analysis perf
  src/models/geograph.py
Labels: concerns: GeoGraph, kind: enhancement
