Repository ai4er-cdt/geograph, pull requests merged in 2021-03, with the labels that each got.

#33 Feature/fragmentation baseline
  notebooks/demo-1-conventional-fragmentation-analysis.ipynb
  notebooks/exploratory/1.0_kmg_landscape-metrics-example.ipynb
  notebooks/exploratory/herbie-chernobyl-exploration.ipynb
  notebooks/exploratory/lyl-1-landscape-chernobyl-metrics-spatiol-temporal-analysis-example.ipynb
  notebooks/exploratory/lyl-2-chernobyl-fragmentation-time-series-analysis.ipynb
  notebooks/exploratory/lyl-3-chernobyl-fragmentation-time-series-analysis-UTM35.ipynb
  notebooks/exploratory/lyl-4-ROI-time-series-analysis-class-metrics.ipynb
  notebooks/exploratory/svm-1-landcover-ceda-exploration.ipynb
  notebooks/exploratory/svm-2-first-fragmentation-analysis.ipynb
  notebooks/exploratory/svm-3-chernobyl-habitat-data.ipynb
  notebooks/exploratory/svm-5-pylandstats-fragmentation-analysis.ipynb
  notebooks/exploratory/svm-6-fragmentation-analysis-plotting.ipynb
  notebooks/exploratory/svm-9-geograph-timeline.ipynb
  notebooks/exploratory/svm-X1-tutorial-gis.ipynb
  notebooks/exploratory/svm-X2-overpass-api-test.ipynb
  src/data_loading/test_data.py
  src/models/fragmentation_baseline.py
Labels: concerns: evaluation, concerns: metrics, concerns: preprocessing, kind: feature

#28 Feature/graph analysis identification
  notebooks/exploratory/svm-10-optimise-identify-node.ipynb
  notebooks/exploratory/svm-7-getting-to-know-graph.ipynb
  notebooks/exploratory/svm-8-generate-test-cases.ipynb
  src/data_loading/landcover_plot_utils.py
  src/data_loading/rasterio_utils.py
  src/data_loading/test_data.py
  src/models/binary_graph_operations.py
  src/models/geograph.py
  src/models/graph_tools.py
  src/models/polygon_utils.py
  src/models/visualisation.py
  src/tests/create_test_data.py
  src/tests/testdata/adjacent/full.gpkg
  src/tests/testdata/adjacent/lower_left.gpkg
  src/tests/testdata/adjacent/lower_right.gpkg
  src/tests/testdata/adjacent/upper_left.gpkg
  src/tests/testdata/adjacent/upper_right.gpkg
  src/tests/testdata/overlapping/full.gpkg
  src/tests/testdata/overlapping/lower_left.gpkg
  src/tests/testdata/overlapping/lower_right.gpkg
  src/tests/testdata/overlapping/upper_left.gpkg
  src/tests/testdata/overlapping/upper_right.gpkg
  src/tests/testdata/timestack/time_0.gpkg
  src/tests/testdata/timestack/time_1.gpkg
  src/tests/testdata/timestack/time_2.gpkg
  src/tests/testdata/timestack/time_3.gpkg
  src/tests/testdata/timestack/time_4.gpkg
  src/tests/utils.py
Labels: concerns: GeoGraph, concerns: model, kind: feature

#42 Feature/graph analysis metrics
  src/models/binary_graph_operations.py
  src/models/geograph.py
  src/models/metrics.py
Labels: concerns: GeoGraph, kind: feature

#47 Feature/graph analysis ipyleaflet visualisation
  notebooks/exploratory/rdnfn-11-widget-experiments-ui.ipynb
  notebooks/exploratory/rdnfn-13-geographviewer-test.ipynb
  notebooks/exploratory/rdnfn-6-geographviewer-ipyleaflet-prototype.ipynb
  notebooks/exploratory/rdnfn-7-geographviewer-module.ipynb
  notebooks/exploratory/rdnfn-8-polesia-geographviewer-demo.ipynb
  requirements/dev-requirements.txt
  src/README.md
  src/data_loading/test_data.py
  src/visualisation/control_widgets.py
  src/visualisation/folium_utils.py
  src/visualisation/geoviewer.py
  src/visualisation/graph_utils.py
  src/visualisation/style.py
  src/visualisation/widget_utils.py
Labels: concerns: GeoGraph, concerns: user-interface

#51 Feature/landcover classification unet
  .gitignore
  job.sbatch
  notebooks/exploratory/15-visualize-unet.ipynb
  notebooks/exploratory/svm-12-data_loader.ipynb
  notebooks/exploratory/svm-13-test-data-loader.ipynb
  notebooks/exploratory/svm-14-split-dataset.ipynb
  requirements/dev-requirements.txt
  src/configs/config.py
  src/configs/config.yaml
  src/constants.py
  src/models/unet.py
  src/train.py
  src/unet/__init__.py
  src/unet/dataloader.py
  src/unet/downsampling.py
  src/unet/labels.py
  src/unet/normalisers.py
  src/unet/satellite_image.py
  src/unet/unet_model.py
  src/unet_/__init__.py
  src/unet_/dataset.py
  src/unet_/eval_fun.py
  src/unet_/unet_model.py
  train.py
Labels: concerns: model, kind: feature

#62 Feature/visualisation node diff
  README.md
  binder/requirements.txt
  notebooks/1-demo-landscape-metrics-comparison-to-pylandstats.ipynb
  notebooks/2-demo-landscape-timeseries-metrics.ipynb
  notebooks/3-demo-nodediff.ipynb
  notebooks/4-demo-geographviewer-polesia.ipynb
  notebooks/5-demo-geographviewer-chernobyl.ipynb
  src/geograph.py
  src/visualisation/control_widgets.py
  src/visualisation/folium_utils.py
  src/visualisation/geoviewer.py
  src/visualisation/graph_utils.py
  src/visualisation/style.py
  src/visualisation/widget_utils.py
Labels: concerns: case study, concerns: user-interface, kind: documentation, kind: enhancement, kind: feature, kind: performance
